*{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 130%;
}

header{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.encriptador__titulo{
    display: flex;
    flex-direction: column;
}

.encriptador__titulo .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 970px;
    height: 100px;
    margin: 20px;
}

.titulo p{
    color: rgba(2, 255, 15, 0.788);
    font-size: 50px;
}

.encriptador__text{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.encriptador__app{
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 1080px;
    gap: 10px;
    margin-left: 50px;
}

.encriptador__app .encriptador__entrada{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

::placeholder{
    color: rgba(2, 255, 15, 0.788);
    opacity: 0.6;
}

#textoOrigen{
    border: none;
    background: none;
    resize: none;
    margin-top: 20px;
    text-transform: lowercase;
    text-align: center;
    color: rgba(2, 255, 15, 0.788);
    font-weight: bold;
    width: 500px;
    height: 500px;
}

#textoOrigen:focus{
    outline: none;
}

#textoOrigen::placeholder{
    text-align: end;
    font-size: 25px;
    width: 400px;
    height: 250px;
    background-image: url(imagen/origenplaceholder.gif);
    background-repeat: no-repeat;
    background-size: 290px 290px;
    background-position-x: 110px;
}

.encriptador__entrada__footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.encriptador__entrada .icono{
    display: flex;
    width: 28px;
    height: 28px;
    margin: 5px;
}

.encriptador__entrada .texto1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: rgba(2, 255, 15, 0.788);
}

.encriptador__entrada__botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px;
}

.encriptador__entrada__botones #botonEncriptar, #botonDesencriptar{
    color:  rgba(2, 255, 15, 0.788);
    text-align: center;
    height: 35px;
    width: 170px;
    background-color: black;
    border: 0.5mm solid  rgba(2, 255, 15, 0.788);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 8px;
    cursor: pointer;
}

#textoFinal{
    border: none;
    background: none;
    resize: none;
    margin-top: 20px;
    text-transform: lowercase;
    text-align: center;
    color: rgba(2, 255, 15, 0.788);
    font-weight: bold;
    width: 500px;
    height: 500px;
}

#textoFinal:focus{
    outline: none;
}

#textoFinal::placeholder{
    text-align: start;
    font-size: 25px;
    width: 500px;
    height: 250px;
    background-image: url(imagen/finalplaceholder.gif);
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: 110px 30px;
}

.encriptador__salida__footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.encriptador__salida__botones{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 5px;
    margin-right: 50px;
}

.encriptador__salida__botones #botonCopiar, #botonPegar, #botonLimpiar{
    color: rgba(2, 255, 15, 0.788);
    text-align: center;
    height: 35px;
    width: 140px;
    background-color: black;
    border: 0.5mm solid rgba(2, 255, 15, 0.788);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 8px;
    cursor: pointer;
}

video{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(43, 42, 42);
    opacity: 0.7;
}


/* Intento de responsive XD */


